{% extends "inicio/encabezado.html" %}

{% block titulo %} Cabañas {%endblock%}

{%block contenido%}

<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="row">
                {%load static%}
                <div class="p-3  text-center "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/nosotros.jpg' %}" alt="Quienes Somos"></div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="p-3  text-center "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/nosotros.jpg' %}" alt="Quienes Somos"></div>
                </div>
                <div class="col-4">
                    <div class="p-3  text-center "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/nosotros.jpg' %}" alt="Quienes Somos"></div>
                </div>
                <div class="col-4">
                    <div class="p-3  text-center "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/nosotros.jpg' %}" alt="Quienes Somos"></div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <h1 class="mb-5 textocolor">Altitude Luxury</h1>
            <button type="button" class="btn bgnav footer-text " disabled>Lujo</button>
            <button type="button" class="btn bgnav footer-text " disabled>2 baños</button>
            <button type="button" class="btn bgnav footer-text " disabled>Wifi 5G</button>
            <button type="button" class="btn bgnav footer-text " disabled>4 cuartos</button>
            <p class="mt-5 textocolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, necessitatibus. Architecto ex ut qui, atque modi perspiciatis, ea eveniet inventore consequuntur soluta illum? Officiis ratione nihil numquam minima, obcaecati quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui laboriosam, saepe quibusdam laborum dicta cumque quidem ad. In tenetur, numquam laborum, explicabo est ipsam quaerat nesciunt sunt veritatis magni corporis.</p>
        </div>
    </div>
    <div class="row border-top mb-5">
        <div class="col-6 mt-5 text-center">
            <h3 class="mb-5 textocolor">Localizacion</h3>
            <div class="p-3  text-center "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/mapa.png' %}" alt="This is a map"></div>

        </div>
        <div class="col-6 mt-5 text-center">
            <h3 class="mb-5  textocolor">Calendario</h3>
            <input class="form-control" type="date">
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly" async></script>
{%endblock%}