{% extends "inicio/encabezado.html" %}

{% block titulo %} Contáctanos {%endblock%}

{%block contenido%}

<h1 class="text-center mt-5 text-decoration-underline fw-bold textocolor" ">Contáctanos</h1>
   
        <div class=" container row mt-5 " style="margin:0 auto">
            <form class="card" style="background-color:#EEEEEE;">
                <h4 class="text-center mt-3 mb-3" >Coloca tus datos</h4>
                    <div class="row g-2">
                        <div class="col-6  form-group">
                            
                                <label class="form-label fs-5" for="inputEmail4">Nombre completo</label>
                                <input type="text" class="form-control" id="name"
                                    placeholder="Escribe tu nombre completo" required>
                            
                        </div>
                        <div class="col-6  form-group">
                            
                                <label class="form-label fs-5" for="inputPassword4">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email"
                                    placeholder="Escribe correo electrónico" required>
                            
                        </div>
                        <div class="col-6  form-group">
                            
                                <label class="p-2 form-label fs-5" for="inputAddress">Teléfono</label>
                                <input type="text" class="form-control" id="inputAddress"
                                    placeholder="Coloca tu número a 10 digitos" required>
                            
                        </div>
                        <div class="col-6  form-group">
                            
                                <label class="p-2 form-label fs-5" for="inputAddress2">Ciudad</label>
                                <input type="text" class="form-control" id="inputAddress2"
                                    placeholder="Introduce tu cuidad" required>
                            
                        </div>
                        <div class="col-12  form-group">
                            
                                <label class="p-2 form-label fs-5" for="inputCity">Mensaje</label>
                                <textarea class="form-control" name="mensaje" type="text" id="mensaje" cols="30"
                                    rows="4" placeholder="¿Qué información deseas solicitar?" style="height: 100px;" required></textarea>
                            
                        </div>
                        <div class="d-flex justify-content-end form-label">
                            <button type="submit" class="btn mt-4 text-light" style="background-color: #334257;">Pedir información</button>
                        </div>    
                    </div>
                
            </form>
            <div class="card mt-3 footer-text p-2 mb-5" style="background-color:#EEEEEE;">
                
                    <h3 class="text-center fw-bold">Mas información</h3>
                    <p class="fw-bold fs-5 text-center ">Prolongación Reforma 1190, Cruz Manca Santa Fé, 05349 Ciudad de México, D.F.</p>
                    <p class="fw-bold fs-5 text-center ">renta@mecompany.com.mx</p>
                    <p class="fw-bold fs-5 text-center ">4361262495</p>
                
            </div>
        </div>
    



{%endblock%}

