{% extends "inicio/encabezado.html" %}

{% block titulo %} Principal {%endblock%}


{%block contenido%}


<div class="container">

    <div class="container text-center mt-3">

        {%load static%}
        
              
              <img class="image-fluid mt-5" src="{% static 'inicio/images/quienes_somos.jpg' %}" alt="Quienes Somos" width="1300"
        height="600">
            

    </div>
    <div class="container row mt-5 mb-3">
        <div class="row g-2">
            <div class="container row col-8">
            <div class="col-6">
              <div class="p-3  text-center "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/nosotros.jpg' %}" alt="Quienes Somos"></div>
            </div>
            <div class="col-6">
              <div class="p-3"><h3 class="textocolor">Titulo</h3>
                <p class="fs-5 textocolor">Este deberia de ser un texto de una hermosa cabaña ubicada en las costas de playa azul michoacan pero no tengo mas imagenes descargadas  y tengo weva de buscar</p>
            </div>
            </div>
            <div class="col-6">
              <div class="p-3 "><img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/nosotros.jpg' %}" alt="Quienes Somos"></div>
            </div>
            <div class="col-6">
              <div class="p-3 "><h3 class="textocolor">Titulo</h3>
                <p class="fs-5 textocolor">Este deberia de ser un texto de una hermosa cabaña ubicada en las costas de playa azul michoacan pero no tengo mas imagenes descargadas  y tengo weva de buscar</p>
           </div>
            </div>
        </div>
        <div class="card col-xl-4 col-lg-4  col-sm-12 text-center bgcard" >
            <h3 class="footer-text">Promo</h3>
            <img class="rounded img-fluid mx-auto d-block" src="{% static 'inicio/images/quienes_somos.jpg' %}" alt="Quienes Somos">
            <p class="fs-5 footer-text fs-5">soy un texto descriptivo</p>
        </div>
          </div>
           
        
        
            
        
    </div>
    <h2 class="text-center text-decoration-underline mb-2 fw-bold textocolor">Ofertas</h2>
    <div class="scrollmenu text-center   " style="width: 102%; background-color: #334257; display: inline-block; overflow: auto;
    white-space: nowrap;" >
     
      {% for cabain in cabain %}
      <a href="{%url 'Cabañas' cabain.id%}" >
        <div class="card mb-2" style="width: 11rem; margin-left:2vh; background-color: #EEEEEE; display: inline-block;">
          <img class="p-1" src="{{cabain.image.url}}" alt="" height="100rem" width="150rem">
          <p>{{cabain.title}}</p>
        </div>
      </a>
            
           
      
      {%endfor%}
    
    </div>
</div>

{%endblock%}